extends ../layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Sign Up

                // register form
                form(method='POST' action='/profile')
                    div.form-group
                        p Name:
                        input#name(type='text' placeholder='first and last' name='name')
                    div.form-group
                        p Email:
                        input#email(type='email' placeholder='name@email.com' name='email')
                    div.form-group
                        p Password:
                        input#pw(type='password' name='password')
                    div.form-group
                        p Confirm Password:
                        input#pw2(type='password' name='confirmPassword')
                    button.btn.btn-primary(type='submit') Sign up
