extends ../layout

block content
    h1 #{user.name}'s PROFILE
    p EMAIL: #{user.email}
    p TAGS:
    ul
        each tag in user.tags
            li= tag
            form(method = "POST" action='/profile/pulltag')
                input(type="hidden" name="tag" value=tag)
                input(type='submit' value='X')
            nbsp
            <br />

    form(method = "POST" action='/profile/pushtag')
        label(for='new') Create Tag
        input#new(type='text' name='new' placeholder='Tag')
        input(type='submit' value='Submit')