extends ../layout

block content
        h1(style='padding-left: 15px; font-weight:bold') LOGIN

        form(method='POST' action='/profile/login')
            label(for='fname') Username/Email
            input#fname(type='text' name='name' placeholder='Kawhi Leonard')
            label(for='pw') Password:
            input#pw(type='password' name='password')
            input(type='submit' value='LOGIN')

