html
    head
        title Basketball World
    body
        if user
            p user: #{user}
            a(href="/profile/logout") logout
        else
            ul
                li
                    a(href="/profile/login") login
                li
                    a(href="/profile/create") create account
        ul
            li
                a(href="/") home
            li
                a(href="/threads") threads
            li
                a(href="/shoes/browse") shoes
            li
                a(href="admin") admin powers
        block content