doctype html
html
  -var site_name = 'Basketball World'

  head
    //Browser tab title and icon, css
    title= site_name
    link(rel='shortcut icon', href='/img/logo_favicon.ico', type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')

    //override with 'block banner' in a page
    block banner
    block nav
      ul
        li
          a(href='/') Home
          a(href='/threads') Threads
          a(href='/profile') Login
          a(href='/profile') Profile
        li
      ul

    block head
      h1= site_name
      p Welcome to #{site_name}

  body
    //Content block
    block content