doctype html
html
  -var site_name = 'Basketball World'

  head
    //Browser tab title and icon, css
    title= site_name
    link(rel='shortcut icon', href='/img/logo_favicon.ico', type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')

    //override with 'block banner' in a page
    block banner
      div.banner
        li
          a(href='/') Home
        li
        li
          a(href='/threads/view') Threads
        li
        li
          a(href='/profile/create') Profile
        li


      div.display
        img(src='/img/logo_favicon.ico', style='width:45px; display: block; position: absolute; left:15px ; top:50%; transform: translateY(-50%)')
        h1(style='display:inline-block; font-weight: bold;')= 'BASKETBALL WORLD'
  body
    div.content
      block content