doctype html
html
  -var site_name = 'Basketball World'

  head
    //Browser tab title and icon, css
    title= site_name
    link(rel='shortcut icon', href='/img/logo_favicon.ico', type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')

    //override with 'block banner' in a page
    block banner
      div.header
        div.header-banner
          div.header-banner-inner
            div(class='header-logo' href='/')
      div.header-nav-container
        div.header-nav-container-inner
          nav.header-nav
            a(class='header-nav-item-wrapper' href='/')
              div.header-nav-item.mod-solo Home
            a(class='header-nav-item-wrapper' href='/threads')
              div.header-nav-item.mod-solo Categories
            a(class='header-nav-item-wrapper' href='/threads')
              div.header-nav-item.mod-solo Threads
            a(class='header-nav-item-wrapper' href='/threads')
              div.header-nav-item.mod-solo News
            a(class='header-nav-item-wrapper' href='/account')
              div.header-nav-item.mod-solo Account





    block head
      h1= site_name
      p Welcome to #{site_name}

  body
    //Content block
    block content