body {
  font: 14px Arial, Helvetica, sans-serif;
}

.header-container {
  width: auto;
  height: 60px;
  background: #babec7; }

.header-nav {
  width: 758px;
  height: 58px;
  position: relative; }

.header-logo {
  width: 54px;
  height: 54px;
  background: url('../img/logo_shrunk.png'); }

.header-nav-item {
  height: 60px;
  display: block; }
