extends ../layout
block content
    h1 Create A Thread
    form(method='POST' action='/threads/create')
        label Title
            input#title(type='text' name='title' placeholder='title')
        label Content
            input#name(type='text' name='description' placeholder='description')
        label Tags (optional)
            input#tag0(type='text' name='tag0')
            input#tag1(type='text' name='tag1')
            input#tag2(type='text' name='tag2')
        input(type='submit' value='POST')
    p message: #{message}